@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);

:root {
  --white: #FFFFFF;
  --black: #000;
  --ciano: #00BCD4; 
  --turquesa-claro: #B2EBF2; 
  --turquesa-escuro: #00796B;
  --verde-agua: #4DB6AC;
  --light-gray: #F0F4F8; 
  --medium-gray: #90A4AE;
  --dark-gray: #455A64;
  --soft-yellow: #FFC107; 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}
