@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);

:root {
  --white: #FFFFFF;
  --light-blue: #B3E5FC; /* Azul claro mais harmonioso */
  --medium-blue: #0288D1; /* Azul médio que complementa o azul forte */
  --dark-blue: #01579B; /* Azul escuro mais intenso */
  --light-gray: #F0F4F8; /* Cinza claro mais suave */
  --medium-gray: #90A4AE; /* Cinza médio que contrasta melhor */
  --dark-gray: #455A64; /* Cinza escuro que combina com tons mais fortes */
  --soft-yellow: #FFC107; /* Amarelo suave mais vibrante */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}
