.footer {
  width: 100%;
  background: var(--medium-gray);
  color: var(--black);
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
}

.footer p {
  font-size: 0.9rem;
  margin: 0;
}

.footer a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--ciano);
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }
}
