main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "about about"
    "author benefits"
    "video highlights"
    "sample sample"
    "contact purchase"
  ;
}

main section {
  padding: 1rem 2rem;

}

main p {
  text-align: justify;
  text-justify: inter-ideograph;
  word-break: normal;
  padding: 10px 0;
}

main section ul {
  list-style: none;
}

.about {
  grid-area: about;
  background-color: var(--light-gray);
}

.author {
  grid-area: author;
  background-color: var(--light-gray);
}

.author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.video {
  grid-area: video;
  background-color: var(--medium-gray);
}

.video video{
  max-width: 100%;
}

.benefits {
  grid-area: benefits;
  background-color: var(--light-gray);
}

.benefits ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}

.highlights {
  grid-area: highlights;
  background-color: var(--medium-gray);
  color: var(--white);
}

.highlights ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: square;
}

.purchase {
  grid-area: purchase;
  background-color: var(--dark-gray);
  color: var(--white);
}

.cta-button {
  display: inline-block;
  margin: 0.5rem;
  padding: 10px 20px;
  background-color: var(--soft-yellow);
  color: var(--black);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: color, background 1s ease;
}

.cta-button:hover {
  color: var(--white);
  background-color: var(--ciano);
}

.contact {
  grid-area: contact;
  background-color: var(--dark-gray);
  color: var(--white);
}

.contact a {
  color: var(--ciano);
}

.sample {
  grid-area: sample;
  background-color: var(--light-gray);
}

@media (width < 768px) {
  main {
    grid-template-areas:
      "about"
      "author"
      "benefits"
      "video"
      "highlights"
      "sample"
      "purchase"
      "contact";
  }

  main section {
    padding: 1rem;
  }

  .video {
    padding: 10px;
  }

  .author{
    text-align: center;
  }

  .benefits ul{
    list-style: none;
  }

  .highlights ul{
    list-style: none;
  }
}

@media (width >= 1600px) {
  main{
    font-size: 30px;
  }
}