main{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: 
    "about about"
    "author benefits"
    "testimonials highlights"
    "sample sample"
    "contact purchase"
  ;
}

main section{
  padding: 1rem 2rem;
  & ul{
    list-style: none;
  }
}

.about{
  grid-area: about;
  background-color: var(--light-gray);
}

.author{
  grid-area: author;
  background-color: var(--light-gray);
}

.testimonials {
  grid-area: testimonials;
  background-color: var(--medium-gray);
  color: var(--white);
  padding: 1rem 2rem;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.testimonials blockquote {
  background-color: var(--dark-gray);
  border-left: 4px solid var(--soft-yellow);
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonials p {
  margin: 0;
  font-style: italic;
}

.testimonials footer {
  text-align: right;
  margin-top: 0.5rem;
  font-weight: bold;
}


.benefits{
  grid-area: benefits;
  background-color: var(--light-gray);
}

.benefits ul{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlights{
  grid-area: highlights;
  background-color: var(--medium-gray);
  color: var(--white);
}

.highlights ul{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purchase{
  grid-area: purchase;
  background-color: var(--dark-gray);
  color: var(--white);
}

.purchase a{
  color: var(--medium-blue);
}

.contact{
  grid-area: contact;
  background-color: var(--dark-gray);
  color: var(--white);
}

.contact a{
  color: var(--medium-blue);
}

.sample{
  grid-area: sample;
  background-color: var(--light-gray);
}

@media (width < 768px) {
  main{
    grid-template-areas: 
    "about"
    "author"
    "benefits"
    "testimonials"
    "highlights"
    "sample"
    "purchase"
    "contact"
    ;
  }

  main section{
    padding: 1rem;
  }

  .testimonials{
    padding: 10px;
  }
}